/* scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
}

dialog[type=splash] {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(5, 5, 5);
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}
dialog[type=splash]>img#FudgeStoryLogo {
  width: 100%;
} */

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
}

scene {
    width: 1280px; 
    height: 720px; 
    display: inline-block;
    position: absolute;
}


canvas {
  width: 100%;
  height: 100%;
  /* margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
}


/* Textbox */

speech {
  position: absolute;
  padding-top: 10px;
  font-size: 12pt;
  bottom: 0px;
  left: 0px;
  color: rgb(245, 220, 220);
  /*background-color: rgba(0, 0, 0, 0.918);*/
  width: 100%;
  height: 15vh;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}
.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}
name {
  font-size: 12pt;
  font-style:oblique;
  display: block;
  color: rgb(0, 192, 240);
  margin-bottom: 10px;
}
/* Text für Auswahlfelder */
.auswahl{
  background-color: rgba(0, 0, 0, 0.808);
  /* border: none; */
  border-style:solid;
  border-color: rgba(214, 213, 213, 0.459);
}
.auswahl button{
  border: none;
  color: beige;
  outline: none;
  background-color: #0000;
  font-size: 20px;
  margin: 2px;
  cursor:pointer;
  
}

.auswahl button:hover{
  background-color: none;
  border-color: rgb(0, 128, 128);
  border-width: 2px;
  border-style: inset;
}
 
/* Novel Page */

.novel-page{
  background-color: rgba(43, 43, 43, 0.8);
  border: beige;
  color: beige;
}

/* Menu */

.credits {
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: rgba(43, 43, 43, 0.8);
  color: beige;
}

.gameMenu {
  position: absolute;
  background-color: rgba(43, 43, 43, 0.8);
  border: none;
}

.gameMenu button {
border: none;
outline: none;
cursor: default;
background-color: #0000;
color: beige;
font-size: 15px;
cursor:pointer
}

/* Inventar */

dialog[type="inventory"] {
  color: rgb(203, 253, 255);
  width: 50%;
  border: 2px solid;
  background-color: rgb(51, 51, 51);
  font-family: 'KoHo', sans-serif;
}


/* dialog[type="inventory"] amount{
display: none;
}

dialog[type="inventory"]>ul>li {
 
  height: 50px;
  width: 100%;
  list-style-type: none;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

dialog[type="inventory"]>ul>li img {
  width: 100%;
  object-fit: contain;
}
dialog[type="inventory"] button{
  border: none;
  outline: none;
  cursor: default;
  background-color: #0000;
  color: beige;
  font-size: 15px;
  border: 2px solid beige;
  cursor:pointer
} */



/* Items im Inventar */

.geld{
  position: center;
  scale: 0.2, 0.2;
}

dialog[type="inventory"]>ul>li img, dialog[type="inventory"]>ul>li name, dialog[type="inventory"]>ul>li description{
width: 33%;
}